@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*圖片不管多大都會控制在父層內*/
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*不計算padding 和 border*/
*, *::before, *::after {
  box-sizing: border-box;
}

.text-primay {
  color: #212529;
}

.text-secondary {
  color: #6C757D;
}

.text-muted {
  color: #ADB5BD;
}

.text-highlight {
  color: #57A203;
}

.text-on-dark {
  color: #ffffff;
}

.bg-primary-300 {
  background-color: #C0FA73;
}

.bg-primary-200 {
  background-color: #E8FEC5;
}

.bg-primary-100 {
  background-color: #F5FEE7;
}

.dispaly1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.dispaly2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.label-lg {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-md {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-sm {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-xs {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-lg {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-md {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-xs {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.radius-sm {
  border-radius: 4px;
}

.radius-xs {
  border-radius: 8px;
}

.radius-md {
  border-radius: 12px;
}

.radius-rounded {
  border-radius: 1000px;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.mr-l {
  margin-right: 24px;
}

.mr-2xl {
  margin-right: 40px;
}

.outline {
  outline: 1px solid red;
}

.py-s {
  padding-top: 12px;
  padding-bottom: 12px;
}

.px-l {
  padding-left: 24px;
  padding-right: 24px;
}

.py-m {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-5xl {
  padding-top: 64px;
  padding-bottom: 64px;
}

.text-align-center {
  text-align: center;
}

.mb-xxs {
  margin-bottom: 4px;
}

.mb-s {
  margin-bottom: 12px;
}

.mb-m {
  margin-bottom: 16px;
}

.mb-l {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 32px;
}

.mb-2xl {
  margin-bottom: 40px;
}

.mb-3xl {
  margin-bottom: 48px;
}

.pt-xl {
  padding-top: 32px;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.d-ib {
  display: inline-block;
}

.m0-auto {
  margin: 0 auto;
}

.px-s {
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 576px) {
  .sm-di {
    display: inline;
  }
  .sm-dn {
    display: none;
  }
  .py-m {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py-5xl {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .sm-flex-column {
    flex-direction: column;
  }
  .sm-text-align-left {
    text-align: left;
  }
  .sm-align-start {
    align-items: start;
  }
  .sm-pl-s {
    padding-left: 12px;
  }
}
/*預設字體*/
body {
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  max-width: 1320px;
}

.menuLOGO {
  font-size: 20px;
  font-weight: 700;
  color: #212529;
  padding: 8px 12px;
  margin-right: 48px;
  position: relative;
  z-index: 1;
}

.menuLOGO::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #c0fa73; /* 圓點顏色 */
  border-radius: 50%; /* 讓它變成圓形 */
  margin-right: 8px; /* 與文字的間距 */
  vertical-align: middle; /* 垂直對齊文字 */
  position: absolute;
  top: 9px;
  left: 86%;
  z-index: -1;
}

.menuP {
  padding: 12px 0px;
}

.navBtn {
  font-size: 24px;
  padding: 12px;
}

.footersection {
  background-color: #F8F9FA;
}

.footerContent {
  border-top: 1px solid #DEE2E6;
}

.hero {
  background: url("./assets/images/Banner-lg.png");
  padding: 288px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroText {
  margin-left: 200px;
}

@media (max-width: 576px) {
  .hero {
    padding: 155px 24px;
    margin: 0;
    background: url("./assets/images/Banner-sm.png");
  }
  .heroText {
    margin-left: 0px;
  }
  .dispaly1 {
    font-size: 48px;
  }
  .h3 {
    font-size: 20px;
  }
  .mb-3xl {
    margin-bottom: 32px;
  }
  .py-5xl {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sm-H2 {
    font-size: 32px;
  }
  .sm-H4 {
    font-size: 24px;
  }
  .sm-mbxs {
    margin-bottom: 8px;
  }
  .sm-mbl {
    margin-bottom: 24px;
  }
  .sm-H6 {
    font-size: 16px;
  }
}/*# sourceMappingURL=all.css.map */