@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*圖片不管多大都會控制在父層內*/
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  vertical-align: middle;
}

/*不計算padding 和 border*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.text-primay {
  color: #212529;
}
.text-secondary {
  color: #6C757D;
}
.text-muted {
  color: #ADB5BD;
}
.text-highlight {
  color: #57A203;
}
.text-on-dark {
  color: #ffffff;
}
.text-dange-300 {
  color: #D74F4E;
}

.bg-primary-300 {
  background-color: #C0FA73;
}
.bg-primary-200 {
  background-color: #E8FEC5;
}
.bg-primary-100 {
  background-color: #F5FEE7;
}

.dispaly1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.dispaly2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.label-lg {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-md {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-sm {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-xs {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-lg {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-md {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-xs {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.radius-sm {
  border-radius: 4px;
}

.radius-xs {
  border-radius: 8px;
}

.radius-md {
  border-radius: 12px;
}

.radius-rounded {
  border-radius: 1000px;
}

.d-flex {
  display: flex;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.d-flex-column {
  flex-direction: column;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.mr-xs {
  margin-right: 8px;
}

.mr-s {
  margin-right: 12px;
}

.mr-l {
  margin-right: 24px;
}

.mr-2xl {
  margin-right: 40px;
}

.outline {
  outline: 1px solid red;
}

.py-xs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-s {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-3xl {
  padding-top: 48px;
  padding-bottom: 48px;
}

.px-s {
  padding-left: 12px;
  padding-right: 12px;
}

.px-l {
  padding-left: 24px;
  padding-right: 24px;
}

.py-l {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-m {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-2xl {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-5xl {
  padding-top: 64px;
  padding-bottom: 64px;
}

.text-align-center {
  text-align: center;
}

.mb-xxs {
  margin-bottom: 4px;
}

.mb-xs {
  margin-bottom: 8px;
}

.mb-s {
  margin-bottom: 12px;
}

.mb-m {
  margin-bottom: 16px;
}

.mb-l {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 32px;
}

.mb-2xl {
  margin-bottom: 40px;
}

.mb-3xl {
  margin-bottom: 48px;
}

.mb-5xl {
  margin-bottom: 64px;
}

.pt-xl {
  padding-top: 32px;
}

.pt-3xl {
  padding-top: 48px;
}

.px-3xl {
  padding-left: 48px;
  padding-right: 48px;
}

.db {
  display: block;
}

.dn {
  display: none;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.d-ib {
  display: inline-block;
}

.m0-auto {
  margin: 0 auto;
}

.px-s {
  padding-left: 12px;
  padding-right: 12px;
}

@media (max-width: 576px) {
  .sm-di {
    display: inline;
  }
  .sm-dn {
    display: none;
  }
  .py-m {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .py-5xl {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .sm-py-xs {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .sm-py-l {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .sm-py-xl {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .sm-py-2xl {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sm-flex-column {
    flex-direction: column;
  }
  .sm-text-align-left {
    text-align: left;
  }
  .sm-align-start {
    align-items: start;
  }
  .sm-pt-l {
    padding-top: 24px;
  }
  .sm-pl-s {
    padding-left: 12px;
  }
  .sm-pl-l {
    padding-left: 24px;
  }
  .sm-dispaly1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-dispaly2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-label-lg {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-label-md {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-label-sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-label-xs {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-paragraph-lg {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-paragraph-md {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-paragraph-sm {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-paragraph-xs {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-w-50 {
    width: 48%;
  }
  .sm-w-100 {
    width: 100%;
  }
  .sm-d-flex {
    display: flex;
  }
  .sm-d-flex-wrap {
    flex-wrap: wrap;
  }
  .sm-d-flex-nowrap {
    flex-wrap: nowrap;
  }
  .sm-px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .sm-px-s {
    padding-left: 12px;
    padding-right: 12px;
  }
  .sm-px-m {
    padding-left: 16px;
    padding-right: 16px;
  }
  .sm-px-l {
    padding-left: 24px;
    padding-right: 24px;
  }
  .sm-px-xl {
    padding-left: 32px;
    padding-right: 32px;
  }
  .sm-px-5xl {
    padding-left: 64px;
    padding-right: 64px;
  }
  .sm-mr-xs {
    margin-right: 8px;
  }
  .sm-mr-s {
    margin-right: 12px;
  }
  .sm-mr-l {
    margin-right: 24px;
  }
  .sm-mb-0 {
    margin-bottom: 0px;
  }
  .sm-mb-xs {
    margin-bottom: 8px;
  }
  .sm-mb-s {
    margin-bottom: 12px;
  }
  .sm-mb-m {
    margin-bottom: 16px;
  }
  .sm-mb-l {
    margin-bottom: 24px;
  }
  .sm-mb-xl {
    margin-bottom: 32px;
  }
  .sm-d-flex-row {
    flex-direction: row;
  }
  .sm-align-center {
    align-items: center;
  }
  .sm-d-flex-column {
    flex-direction: column;
  }
}
/*預設字體*/
body {
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  max-width: 1320px;
}

.menuLOGO {
  font-size: 20px;
  font-weight: 700;
  color: #212529;
  padding: 8px 12px;
  margin-right: 48px;
  position: relative;
  z-index: 1;
}

.menuLOGO::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #c0fa73; /* 圓點顏色 */
  border-radius: 50%; /* 讓它變成圓形 */
  margin-right: 8px; /* 與文字的間距 */
  vertical-align: middle; /* 垂直對齊文字 */
  position: absolute;
  top: 9px;
  left: 86%;
  z-index: -1;
}

.menuP {
  padding: 12px 0px;
}

.navBtn {
  font-size: 24px;
  padding: 12px;
}

.footersection {
  background-color: #F8F9FA;
}

.footerContent {
  border-top: 1px solid #DEE2E6;
}

.hero {
  background: url("../images/Banner-lg.png");
  padding: 288px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heroText {
  margin-left: 10%;
}

.hotItemTip {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background-color: #f5fee7;
  color: #5ca010;
  padding: 8px 12px;
  display: inline-block;
  position: absolute;
}

.banner {
  overflow: hidden;
}

.bannerImg {
  background: url("../images/image 30.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannerText {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bannerTextTitle span {
  color: #C0FA73;
}

.bannerText p {
  color: #ADB5BD;
}

.bannerStar {
  top: 15%;
  left: 30%;
}

.bannerSparkle {
  bottom: 5%;
  right: 31%;
}

.dotActive {
  width: 24px;
  height: 8px;
  background-color: #6C757D;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #CED4DA;
}

.shopSeriesList {
  gap: 1%;
}

.shopSeriesItemDiv {
  top: 0;
  width: 100%;
  height: 100%;
}

.inspirationSection {
  display: flex;
  gap: 8px;
}

.inspirationSection1,
.inspirationSection2,
.inspirationSection3 {
  width: 32%;
}

.inspirationSection1-1 {
  display: flex;
  gap: 1.8%;
  margin-bottom: 1.8%;
}

.inspirationSection2 {
  display: flex;
  gap: 1.8%;
  flex-wrap: wrap;
}

.inspirationSection1-1 img,
.inspirationSection2 img {
  width: 49%;
}

.inspirationSection3-1 {
  margin-bottom: 1.8%;
}

.inspirationSection3-2 {
  display: flex;
  width: 49%;
  gap: 1.8%;
}

.tipsBtn {
  background-color: #212529;
}

@media (max-width: 576px) {
  .newArrival {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero {
    padding: 155px 24px;
    margin: 0;
    background: url("../images/Banner-sm.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .heroText {
    margin-left: 0px;
  }
  .bannerText {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .bannerStar {
    top: 5%;
    left: -8%;
  }
  .bannerSparkle {
    bottom: 10%;
    right: -11%;
  }
  .sm-dn {
    display: none;
  }
  .inspirationSection1 {
    width: 100%;
  }
  .inspirationSection1-1 .inspirationSection1-1-1 {
    width: 100%;
  }
  .inspirationSection1-1 .inspirationSection1-1-2 {
    display: none;
  }
}
.linkList p {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0em;
  color: #DEE2E6;
}

.itemList {
  display: flex;
  gap: 24px;
  width: 100%;
}

.itemListLi1 {
  width: 15%;
}

.itemListLi2 {
  width: 83%;
}

.itemMenu {
  padding-right: 24px;
}

.itemMenu li {
  margin-bottom: 16px;
}

.ProdustList {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.ProdustList li {
  width: 31%;
}

.produstTitle {
  font-weight: 700;
  line-height: 1.2;
  color: #212529;
}

.produstPrice {
  font-weight: 500;
  color: #212529;
}

.pageBar {
  text-align: center;
  margin-bottom: 32px;
}

.pageBar ul {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pageBar a {
  font-weight: 500;
  color: #212529;
  display: block;
  width: 40px;
  height: 40px;
  align-items: center;
  padding: 8px 15px;
}

.pageBar a:hover {
  background-color: #e9ecef;
}

.pageBarSelected {
  background-color: #c0fa73;
}

.li-dn {
  display: none;
}

@media (max-width: 576px) {
  .itemList li {
    width: 100%;
  }
  .ProdustList {
    gap: 3%;
    margin-bottom: 32px;
    /* outline:1px solid red; */
  }
  .ProdustList li {
    width: 47%;
    margin-bottom: 24px;
  }
  .li-dn {
    display: inline;
  }
  .pageBar {
    margin-bottom: 16px;
  }
}
.produsgImages {
  width: 57%;
}

.produsgImages li {
  width: 48%;
}

.produsgInfo {
  width: 40%;
}

.oldPrice {
  text-decoration: line-through;
}

.menuImg {
  width: 64px;
  height: 64px;
}

.menuSize li {
  width: 30%;
}

.menuSizeSelect, .sizeOnSelect {
  border-radius: 8px;
}

.menuSizeSelect {
  text-align: center;
  border: 1px solid #DEE2E6;
}

.sizeOnSelect {
  border: 1px solid #212529;
}

.produstLike, .produstReserv {
  border: 1px solid #212529;
}

.produstReserv {
  background-color: #212529;
}

.menuBtngroup {
  gap: 1%;
}

.menuBtngroup li {
  width: 49%;
}

.infoText {
  border-bottom: 1px solid #DEE2E6;
}

.sizeNone {
  color: #dee2e6;
}

.item-i i {
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: #212529;
}

@media (max-width: 768px) {
  .produsgImages {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .linkList {
    margin-bottom: 8px;
  }
  .produsgImages li {
    width: 100%;
    margin: 0;
    padding: 0;
    /* width: 369px; */
    /* outline: 1px solid red; */
  }
  .produsgImage {
    display: block;
    width: 100%;
    height: auto;
  }
  .produsgInfo {
    width: 100%;
  }
  .menuColor {
    gap: 0;
  }
  .menuColor img {
    width: 64px;
    height: 64px;
  }
  .menuSize {
    gap: 0;
  }
  .menuSize li {
    width: 50%;
  }
  .menuBtngroup li {
    width: 100%;
  }
  .produstReserv {
    display: block;
    text-align: center;
    padding: 12px 24px;
    border: 1px solid #212529;
    background-color: #212529;
    color: #fff;
    border-radius: 8px;
    width: 80%;
    margin-right: 8px;
  }
}
.collection-container {
  max-width: 660px;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: #c0fa73; /* 綠色圓形 */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.checkmark {
  color: #477a11; /* 深綠勾勾 */
  font-size: 16px;
  line-height: 1;
}

.collectionTips {
  padding: 16px;
  background-color: #f5fee7;
  display: flex;
  align-items: center;
  /* outline:1px solid red; */
}

.collectionTips .bi {
  font-size: 24px;
  line-height: 1;
  color: #57a203;
}

.collectionList {
  text-align: center;
}

.collectionList li {
  text-align: left;
  display: flex;
  gap: 3%;
  padding-bottom: 32px;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 32px;
}

.collectionImg {
  max-width: 120px;
  width: 18%;
}

.collectionContent {
  width: 78%;
}

.collectionTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #212529;
  margin-bottom: 8px;
}

.collectionSize,
.collectionColor {
  color: #6c757d;
  margin-bottom: 8px;
}

.collectionSize span,
.collectionColor span {
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  margin-left: 12px;
}

.collectionPrice {
  text-align: end;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #212529;
}

.h32 {
  height: 32px;
}

.collectionBtn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
  padding: 12px 24px;
  background-color: #212529;
  color: #ffffff;
  border-radius: 8px;
  margin-bottom: 64px;
}

@media (max-width: 576px) {
  .circle {
    width: 32px;
    height: 32px;
  }
  .collectionTips .bi {
    font-size: 20px;
  }
  .collectionTips {
    justify-content: start;
    align-items: center;
  }
  .collectionImg {
    width: 34%;
  }
  .collectionTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #212529;
    margin-bottom: 8px;
  }
  .collectionSize,
  .collectionColor {
    color: #6c757d;
    margin-bottom: 8px;
    font-size: 14px;
  }
  .collectionSize span,
  .collectionColor span {
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    margin-left: 12px;
    font-size: 14px;
  }
  .collectionPrice {
    text-align: start;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #212529;
  }
  .collectionList li {
    text-align: left;
    display: flex;
    gap: 6.8%;
    padding-bottom: 32px;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 32px;
  }
  .collectionBtn {
    margin-bottom: 24px;
  }
}
.container-ul {
  display: flex;
  gap: 1.8%;
  margin-bottom: 64px;
}

.mainDn {
  display: none;
}

.loginImg {
  width: 40%;
}

.loginContent {
  background-color: #f8f9fa;
  width: 57%;
  padding: 120px 80px;
  /* background-color: red; */
  border-radius: 4px;
}

.loginTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #212529;
  margin-bottom: 32px;
  text-align: center;
}

.loginBtn {
  display: flex;
  margin-bottom: 32px;
}

.loginBtn a {
  display: block;
  padding: 12px 16px;
  width: 50%;
  line-height: 1.2;
  text-align: center;
  border-bottom: 2px solid #dee2e6;
  color: #798797;
}

.loginBtn .btnActive {
  /* background-color: green; */
  border-bottom: 2px solid #212529;
  color: #212529;
}

.inBtn {
  display: flex;
  border: 1px solid #dee2e6;
  align-items: center;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 8px;
  color: #212529;
  background-color: #fff;
}

.inBtn img {
  width: 40px;
  margin-right: 12px;
}

.inBtn p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

@media (max-width: 768px) {
  .mainDn {
    display: inline;
  }
  .container-ul {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 0;
  }
  .loginImg, .loginContent {
    width: 100%;
  }
  .loginContent {
    padding: 32px 0px;
    background-color: #fff;
  }
}
.header {
  background: url("../images/Hero Section.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* 填滿且等比縮放 */
  text-align: center;
  padding: 151px;
}

.header h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 16px;
}

.header p {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #212529;
  margin-bottom: 24px;
}

.tip-section {
  margin: 0 auto;
  background-color: #f5fee7;
  padding: 32px;
  max-width: 856px;
  margin-bottom: 48px;
  border-radius: 4px;
}

.tip-section h2,
.tip-section p {
  text-align: center;
}

.tip-section h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #57a203;
  margin-bottom: 12px;
}

.tip-section p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #212529;
  margin-bottom: 4px;
}

.about-img {
  margin: 0 auto;
  max-width: 1076px;
  margin-bottom: 24px;
}

.intriduction {
  max-width: 856px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.intriduction-content {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 24px;
}

.intriduction-content h4 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #57a203;
  margin-bottom: 16px;
}

.intriduction-content p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #212529;
  margin-bottom: 16px;
}

.history {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 48px;
  max-width: 856px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.history ul {
  margin-left: 20px;
  list-style-type: disc; /* 預設：實心圓 */
  display: block;
}

.history li {
  margin-bottom: 12px;
}

.history li span {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #212529;
}

.history-year {
  margin-right: 8px;
}

.history-yearcontent {
  border-left: 1px solid #212529;
  padding-left: 8px;
}

.philosophy {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 48px;
  max-width: 856px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.philosophy li {
  margin-bottom: 12px;
}

.philosophy p {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #212529;
  border-left: 3px solid #dee2e6;
  padding: 0px 12px;
}

.anecdote {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 48px;
  max-width: 856px;
  margin: 0 auto;
}

.anecdote li {
  padding: 8px 0px;
}

.anecdote li i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin-right: 4px;
}

.anecdote li a {
  text-decoration: none;
}

.anecdote li i,
.anecdote li a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #57a203;
}

.anecdote li span {
  padding-bottom: 4px;
  border-bottom: 1px solid #57a203;
}

@media (max-width: 576px) {
  .header {
    background: url("../images/c7e2e0d7111d666be94562b6f4830973da8b0621.png");
    padding: 87px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* 填滿且等比縮放 */
    text-align: center;
  }
  .header h1 {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .header p {
    font-size: 20px;
  }
  .tip-section {
    padding: 24px;
  }
  .tip-section h2,
  .tip-section p {
    text-align: left;
  }
}/*# sourceMappingURL=all.css.map */