    <footer class="footersection">
        <nav class="py-5xl container m0-auto px-s">
            <ol class="d-flex justify-space-between align-center mb-l sm-flex-column sm-align-start">
                <li>
                    <a href="#" class="menuLOGO sm-align-start  ">URBNSTEP</a>
                </li>
                <li>
                    <div class="d-flex align-start sm-flex-column ">
                        <a href="#" class="py-s">
                            <p class="sm-pl-s mr-2xl label-md text-primay">商品列表</p>
                        </a><a href="#" class="py-s">
                            <p class="sm-pl-s label-md text-primay">品牌故事</p>
                        </a>
                    </div>
                </li>
            </ol>
            <section class="footerContent text-align-center pt-xl">
                <p class="mb-xxs paragraph-sm text-secondary">Copyright ©2025 URBNSTYLE</p>
                <p class="paragraph-sm text-secondary">All Rights Reserved.</p>
            </section>
        </nav>
    </footer>