<nav class="container  m0-auto px-s">
    <ol class="d-flex justify-space-between align-center py-m">
        <li>
            <div class="d-flex">
                <a href="index.html" class="menuLOGO">URBNSTEP
                </a>
                <span class="d-flex align-start sm-dn">
                    <a href="produstlist.html" class="menuP mr-2xl label-md text-primay">
                        商品列表
                    </a>
                    <a href="#">
                        <p class="menuP label-md text-primay">品牌故事</p>
                    </a>
                </span>
            </div>
        </li>
        <li><a href="#" class="navBtn text-primay"><i class="bi bi-person"></i></a></li>
    </ol>
</nav>