.text {
  &-primay {
    color: $neutral-900;
  }
  &-secondary {
    color: $neutral-600;
  }
  &-muted {
    color: $neutral-500;
  }
  &-highlight {
    color: $primary-400;
  }
  &-on-dark {
    color: $neutral;
  }
  &-dange-300 {
    color: $danger-300;
  }
}

.bg {
  &-primary-300 {
    background-color: $primary-300;
  }
  &-primary-200 {
    background-color: $primary-200;
  }

  &-primary-100 {
    background-color: $primary-100;
  }
}

.dispaly1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.dispaly2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.H1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.H2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.H3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.H4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.H5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.H6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.label-lg {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-md {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-sm {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.label-xs {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.paragraph-lg {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.paragraph-md {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.paragraph-sm {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.paragraph-xs {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.radius-sm {
  border-radius: $spacing-xxs;
}
.radius-xs {
  border-radius: $spacing-xs;
}
.radius-md {
  border-radius: $spacing-s;
}
.radius-rounded {
  border-radius: 1000px;
}

.d-flex {
  display: flex;
}
.d-flex-wrap {
  flex-wrap: wrap;
}
.d-flex-column {
  flex-direction: column;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}

.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.mr-xs {
  margin-right: $spacing-xs;
}
.mr-s {
  margin-right: $spacing-s;
}
.mr-l {
  margin-right: $spacing-l;
}
.mr-2xl {
  margin-right: $spacing-2xl;
}
.outline {
  outline: 1px solid red;
}
.py-xs {
  padding-top: $spacing-xs;
  padding-bottom: $spacing-xs;
}
.py-s {
  padding-top: $spacing-s;
  padding-bottom: $spacing-s;
}
.py-3xl {
  padding-top: $spacing-3xl;
  padding-bottom: $spacing-3xl;
}

.px-s {
  padding-left: $spacing-s;
  padding-right: $spacing-s;
}
.px-l {
  padding-left: $spacing-l;
  padding-right: $spacing-l;
}
.py-l {
  padding-top: $spacing-l;
  padding-bottom: $spacing-l;
}
.py-m {
  padding-top: $spacing-m;
  padding-bottom: $spacing-m;
}
.py-2xl {
  padding-top: $spacing-2xl;
  padding-bottom: $spacing-2xl;
}
.py-5xl {
  padding-top: $spacing-5xl;
  padding-bottom: $spacing-5xl;
}
.text-align-center {
  text-align: center;
}
.mb-xxs {
  margin-bottom: $spacing-xxs;
}
.mb-xs {
  margin-bottom: $spacing-xs;
}
.mb-s {
  margin-bottom: $spacing-s;
}
.mb-m {
  margin-bottom: $spacing-m;
}
.mb-l {
  margin-bottom: $spacing-l;
}
.mb-xl {
  margin-bottom: $spacing-xl;
}
.mb-2xl {
  margin-bottom: $spacing-2xl;
}
.mb-3xl {
  margin-bottom: $spacing-3xl;
}
.mb-5xl {
  margin-bottom: $spacing-5xl;
}
.pt-xl {
  padding-top: $spacing-xl;
}
.pt-3xl {
  padding-top: $spacing-3xl;
}
.px-3xl {
  padding-top: $spacing-3xl;
  padding-bottom: $spacing-3xl;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.d-ib {
  display: inline-block;
}
.m0-auto {
  margin: 0 auto;
}
.px-s {
  padding-left: $spacing-s;
  padding-right: $spacing-s;
}

@media (max-width: 576px) {
  .sm-di {
    display: inline;
  }
  .sm-dn {
    display: none;
  }
  .py-m {
    padding-top: $spacing-s;
    padding-bottom: $spacing-s;
  }
  .py-5xl {
    padding-top: $spacing-xl;
    padding-bottom: $spacing-xl;
  }
  .sm-py-xs {
    padding-top: $spacing-xs;
    padding-bottom: $spacing-xs;
  }
  .sm-py-2xl {
    padding-top: $spacing-2xl;
    padding-bottom: $spacing-2xl;
  }
  .sm-flex-column {
    flex-direction: column;
  }
  .sm-text-align-left {
    text-align: left;
  }
  .sm-align-start {
    align-items: start;
  }
  .sm-pt-l {
    padding-top: $spacing-l;
  }
  .sm-pl-s {
    padding-left: $spacing-s;
  }
  .sm-pl-l {
    padding-left: $spacing-l;
  }
  .sm-dispaly1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-dispaly2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }

  .sm-H1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  .sm-H6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }

  .sm-label-lg {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  .sm-label-md {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  .sm-label-sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  .sm-label-xs {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  .sm-paragraph-lg {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-paragraph-md {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-paragraph-sm {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-paragraph-xs {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  .sm-w-50 {
    width: 48%;
  }
  .sm-w-100 {
    width: 100%;
  }
    .sm-d-flex {
    display: flex;
  }
  .sm-d-flex-wrap {
    flex-wrap: wrap;
  }
  .sm-d-flex-nowrap {
    flex-wrap: nowrap;
  }
  .sm-px-0 {
  padding-left: 0;
  padding-right: 0;
}
  .sm-px-s {
    padding-left: $spacing-s;
    padding-right: $spacing-s;
  }
  .sm-px-m {
    padding-left: $spacing-m;
    padding-right: $spacing-m;
  }
  .sm-px-5xl {
    padding-left: $spacing-5xl;
    padding-right: $spacing-5xl;
  }
    .sm-mr-xs {
    margin-right: $spacing-xs;
  }
  .sm-mr-l {
    margin-right: $spacing-l;
  }
  .sm-mb-0 {
    margin-bottom: 0px;
  }
  .sm-mb-xs {
    margin-bottom: $spacing-xs;
  }
  .sm-mb-s {
    margin-bottom: $spacing-s;
  }
  .sm-mb-m {
    margin-bottom: $spacing-m;
  }
  .sm-mb-l {
    margin-bottom: $spacing-l;
  }
    .sm-mb-xl {
    margin-bottom: $spacing-xl;
  }
  .sm-d-flex-row {
  flex-direction: row;
}
.sm-align-center {
  align-items: center;
}
}
