.hero {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true");
  padding: 288px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heroText {
  margin-left: 200px;
}

@media (max-width: 576px) {
  .hero {
    padding: 155px 24px;
    margin: 0;
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-sm.png?raw=true");
  }
  .heroText {
    margin-left: 0px;
  }
  .dispaly1 {
    font-size: 48px;
  }
  .h3{
    font-size: 20px;
  }
  .mb-3xl{
    margin-bottom: $spacing-xl;
  }
  .py-5xl{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .sm-H2{
    font-size: 32px;
  }
    .sm-H4{
    font-size: 24px;
  }
  .sm-mbxs{
    margin-bottom: 8px;
  }
  .sm-mbl{
    margin-bottom: 24px;
  }
  .sm-H6{
    font-size: 16px;
  }
}
